<ul>
  <li><a routerLink=""
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Home</a></li>
  <li><a routerLink="list"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Full list of bar-codes</a></li>
  <li><a routerLink="add"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Add Todo Item</a></li>
  <li><a routerLink="login"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Log out</a></li>

</ul>
